@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-bg-primary: #e4e3e3;
  --color-bg-seconddary: #e6f7ff;
  --color-bg-header: #1890ff;
  --color-bg-btn: #1890ff;

  --color-font-head-title: #fff;
  --color-font-btn: #fff;

  --color-font-primary: #000;
  --color-font-secondary: #7E7E7E;
  --color-font-terciary: #262626;
  --color-font-quaternary: #1890ff;

  --color-font-placeholder: #BFBFBF;
  --color-font-input: #5c5858;
  --color-font-user-profile: #737373;
  --color-font-user-gitlink: #0029ff;

  --color-input-border: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

html, body {
  background-color: var(--gk-color-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

main {
  padding: 0 40px;
}

/* BUTTON´s */

.begin-btn {
  background-color: var(--color-bg-btn);
  color: var(--color-font-btn);
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.begin-btn p{
  font-size: 16px;
}


/* CONTAINER */
.container{
  background-color: var( --color-bg-seconddary);
  width: 100%;
  max-width: 1250px;
  height: 270px;
  margin: 0 auto;
  margin-top: 55px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}


/* INPUT */

.user-input{
  border: 1px solid var(--color-input-border);
  padding: 8px 12px;
  color: var(--color-font-input);
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 25px;
  width: 298px;
  height: 40px;
}

.user-input::placeholder{
  color: var(--color-font-placeholder);
  font-size: 16px;
  font-weight: 400;
}

.user-input:focus{
  outline: none;
}